extends layout

block content
  div.container
    div.row
      div.col-lg-5.nonpadding
        h1.title=title
      div.col-lg-2.nonpadding
           
      div.col-lg-5.nonpadding.float-right
        - if (!user)
            a(class='btn btn-primary btn-lg' href='/login' role="button") 登录
            a(class='btn btn-primary btn-lg' href='/reg' role="button") 注册
        - else
            a(class='btn btn-success btn-lg' disabled='true' href='#' role="button")=user
            a(class='btn btn-primary btn-lg' href='/logout' role="button") 退出             
    div.row
      div.col-lg-12.nonpadding
        ul.nav.nav-pills.nav-justified
          li
            a.navitem(href='/user_manage',target='frmpage') 用户管理
          li
            a.navitem(href='/role_manage',target='frmpage') 角色管理
          li
            a.navitem(href='/study_manage',target='frmpage') 项目管理
          li
            a.navitem(href='/site_manage',target='frmpage') 机构管理
          li
            a.navitem(href='/log_manage',target='frmpage') 日志管理
          li
            a.navitem(href='/import',target='frmpage') 导入
          li
            a.navitem(href='/settings',target='frmpage') 配置
  div.container
    iframe(name='frmpage' src='/default') 
      p Welcome!
      p This is a koa2-based background management system.
      p Your browser may not support iframe.