doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/mycss.css')
    script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    div.container
      div.row
        div.col-lg-4.nonpadding
        div.col-lg-8.nonpadding
          p.title=title
      div.row
        include alert.pug
    div(style="width:60%;float:left")
      br
      p(style="color:aliceblue;font-size:48px;margin-left:10px") Welcome #{user}!
      p(style="color:aliceblue;font-size:36px;margin-left:10px") This is a koa2-based background management system.
    div.loginbox
      form(method='post')
        div.userbox
          div.iconuser
          input#username.inputuser(name='username', tabindex='1', placeholder='请输入管理员用户名', type='text', value='', size='25', autocomplete='false',required autofocus)
        div.userbox
          div.iconpass
          input#password.inputuser(name='password', tabindex='2', placeholder='请输入管理员密码', type='password', value='', size='25', autocomplete='false',required)
        div.btnbox
          input.submitbtn(type='submit', value='登录')
        div(style="padding-top:20px")
          span(style="color:white") 没有账号？  
            a 那我也没有办法... 
            //
              a(href="/reg" target="_self") 注册
